table {
  border: 2px solid black;
  width: 800px;
  height: 800px;
  border-collapse: collapse;
}

td{
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-collapse: collapse;
}

.black {
  background-color: black;
  border-collapse: collapse;
}