* {
  font-family: sans-serif;
}

input {
  border: none;
  outline: none;
  width: 150px;
}

.icon {
  width: 25px;
}

.d-flex {
  display: flex;
}

.nav > div {
  justify-content: center;
  align-items: center;
}

.nav p {
  padding: 0 10px;
  font-size: 13px;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.search-bar {
  width: 80%;
  height: 40px;
  border: 1px solid grey;
  border-radius: 70px;

  align-items: center;
}

.search-bar.d-flex {
  margin: 0 auto;
}

.search-bar.d-flex > .left {
  margin-left: 15px;
}

.search-bar.d-flex > .right {
  margin-right: 5px;
}

.search-bar.d-flex > .right > div {
  margin-right: 15px;
}

#logo {
  text-align: center;
}

#logo-img {
  width: 300px;
  text-align: center;
}
