img {
  width: 100px;

  /* CSS 시간에 배워요 */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.context {
  font-size: 20px;
  font-family: sans-serif;

  /* CSS 시간에 배워요 */
  text-align: center;
}

#name {
  font-size: 30px;
  font-weight: bold;
}

#job > span {
  color: royalblue;
  font-weight: bold;
}
