
{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <hr>
    {% if movie.image %}
    <img src="{{ movie.image.url }}">
    {% endif %}
    <p>제목 : {{ movie.title }}</p>
    <p>감독 : {{ movie.director }}</p>
    <p>코멘트 : {{ movie.comment }}</p>
  <form action="{% url 'movies:delete' movie.pk%}" method="POST">
    {% csrf_token %}
    <input type="submit" value = "DELETE">
  </form>
  <a href="{% url 'movies:update' movie.pk%}">[UPDATE]</a>
  <hr>
  
  <a href="{% url 'movies:index' %}">[back]</a>
{% endblock  %}
