{% extends 'base.html' %}

{% block content %}
<h1><b>Todo</b></h1>
<hr>

<ul>
  {% for todo in todos %}
    <li>{{ todo.author }} - {{ todo.title }}</li>
    {% if todo.author == request.user %}
    <form action="{% url 'todos:toggle' todo.pk %}" method="POST">
      {% csrf_token %}
      {% if todo.completed %}
      <button>취소하기</button>
      {% else %}
      <button>완료하기</button>
      {% endif %}
    </form>
    <form action="{% url 'todos:delete' todo.pk %}" method="POST">
      {% csrf_token %}
      <button>삭제하기</button>
    </form><br>
    {% endif %}
  {% empty %}
    <p>작성된 글이 없습니다.</p>
  {% endfor %}
</ul>


{% endblock content %}


