table {
  border: 2px solid black;
  width: 800px;
  height: 800px;
  border-collapse: collapse;
}

td{
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-collapse: collapse;
}

.black {
  background-color: black;
  border-collapse: collapse;
}

.kingmove {
  position: absolute;
  top: 707px;
  left: 607px;
}

.queenmove {
  position: absolute;
  top: 410px;
  left: 9px;
}

.rookmove {
  position: absolute;
  top: 707px;
  left: 507px;
}